<div ng-show="index" class="text-center" id="index-page">
    <h1 class="margin-move  mbr-header__text">NEWEST SONGS</h1>
    

<div id="origin">

</div>
    <button type="button" class="btn btn-lg btn-default margin-move" id="btn-play-playlist" ng-click="playPlaylist();"><span class="glyphicon glyphicon-play"></span> Play</button>
</div>