<div class="modal fade" id="lgModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button ng-if="checkAccess()" type="button" class="pull-left btn btn-primary" id="btn-add-song" ng-click="addSong($event);" data-toggle="modal" data-target="#smModal"><span class="glyphicon glyphicon-plus"></span> Add new Song</button>
          <button ng-if="checkAccess()" ng-click="delPlaylist($event);" id="btn-del-playlist" type="button" class="btn btn-danger pull-left">Delete playlist</button>
          <button type="button" class="btn btn-success" id="btn-play-playlist" ng-click="playPlaylist();"><span class="glyphicon glyphicon-play"></span> Play</button>
          <button type="button" ng-if="checkAccess()" id="btn-save-playlist" ng-click="lgModal($event);" class="btn btn-default">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>