<div ng-repeat="(key,val) in flash" class="alert alert-{{key}}" ng-cloak>
    {{val}}
</div>
<div class="login-page">
  <div class="form">
      <a href="{{ apiurl }}connect/facebook" class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    <a href="{{ apiurl }}connect/google" class="btn btn-block btn-social btn-google">
       <span class="fa fa-google"></span> Sign in with Google
    </a>
    <form class="login-form">
      <input type="text" name="_username" placeholder="username" id="username"/>
      <input type="password" name="_password" placeholder="password" id="password" />
      <button type="submit" ng-click="Login(); $event.preventDefault()">Login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>

