<div ng-show="showdata" class="hide-div row">
    <div class="col-md-12 margin-move">
        <button type="button" class="close" ng-if="checkAccess()" data-toggle="modal" data-target="#userModal"><i class="glyphicon glyphicon-pencil"></i></button>
        <div class="text-center">
            <div class="profil-image">
                <img src="{{ apiurl }}uploads/{{ userInfo.picture }}" alt="" class="img-responsive center-block img-circle profile-img">
            </div>
            <h3>{{ userInfo.username }}</h3>
            <div id="description">
                <p class="edit">{{ ( userInfo.bio != null && userInfo.bio.length > 0 ) ? userInfo.bio : 'This user did not update his profile.'}}</p>
            </div>
	</div>
    </div>
    <div class="col-md-12">
        <p ng-if="checkAccess()" class='text-center'>
        <button type="button" class="btn btn-default" ng-click="newPlaylist()" id="newPlaylist" data-toggle="modal" data-target="#smModal"><span class="glyphicon glyphicon-plus"></span> Add new playlist</button>
         </p><br/>
        <div class="container" id="playlist-div">
            <div class="row text-center">
                <div ng-repeat="x in userPlaylist" class="col-md-4">
                    <a href="" ng-click="openPlayist($event);" data-pid="{{ x.id }}" title="{{ x.name }}" >
                        <img src="{{ apiurl }}uploads/{{ x.picture }}"/><br/>
                        <h4>{{ x.name }}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/app/partials/lgModal.html'"></div>
<div ng-include="'/app/partials/smModal.html'"></div>
      <!-- Modal -->

  <div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit User Info: </h4>
        </div>
        <div class="modal-body">
            <label for="user-bio">Bio:</label>
            <textarea rows="8" id="user-bio" class="form-control">{{  userInfo.bio }}</textarea>
            <label for="user-picture">Picture:</label>
            <input type="file" id="user-picture" class="form-control" />
            <input type="hidden" id="user-old-pic" value="{{ userInfo.picture }}"/>
        </div>
        <div class="modal-footer">
          <button type="button" ng-if="checkAccess()" id="btn-save-playlist" ng-click="userEdit();" class="btn btn-default">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>