<div class="login-page">
    <div class="form">
         <a href="{{ apiurl }}connect/facebook" class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    <a href="{{ apiurl }}connect/google" class="btn btn-block btn-social btn-google">
       <span class="fa fa-google"></span> Sign in with Google
    </a>
      <form action="" method="POST" class="login-form">
        <input type="text" name="_username" placeholder="username" id="username"/><br/>
        <input type="password" name="_password" placeholder="password" id="password" /><br/>
        <input type="email" name="_email" placeholder="email" id="email" /><br/>
        <button type="submit" ng-click="Register(); $event.preventDefault()">Register</button>
      </form>
    </div>
</div>