<div ng-repeat="(key,val) in flash" class="alert alert-{{key}}" ng-cloak>
    {{val}}
</div>
<div class="login-page">
    <div class="form">
      <form action="" method="POST" class="login-form">
        <input type="text" name="_username" placeholder="username" id="username"/><br/>
        <button type="submit" ng-click="Rename(); $event.preventDefault()">Rename</button>
      </form>
    </div>
</div>
