<div class="row text-center margin-move" id='search-res'>
    <div class="col-md-12">
        <div class="container">
            <div ng-if="searchPages > 0">
                <div class="col-md-4" ng-repeat="z in searchResults" ng-init="f = searchRender(z)" >
                    <div ng-if="f == 3">
                        <a href="profile/{{ z.username }}">
                            <img class="profile-img img-circle" src="{{apiurl}}uploads/{{z.picture}}"/>
                            <h4>{{z.username}}</h4></a>
                    </div>
                    <div ng-if="f > 3">
                      <a href="" ng-click="openPlayist($event);" data-pid="{{z.id}}" title="{{z.name}}" >
                        <img src="{{apiurl}}uploads/{{z.picture}}"/><br/>
                       <h4>{{ z.name }}</h4></a>
                    </div>
                </div>
            </div>
            <div ng-if="searchPages === 0">
                <div class="col-md-12">
                    <p> No Results for your search </p>
                </div>
            </div>
        </div>
        <ul class="pagination" ng-repeat="n in [searchPages] | makeRange">
            <li><a href="javascript:void(0)" ng-click="searchPagination($event,n)">{{n}}</a></li>
        </ul>
    </div>
</div>
<div ng-include="'/app/partials/lgModal.html'"></div>