<!DOCTYPE html>
<html ng-app="ytApp">
    <head>
        <meta charset="UTF-8" />
        <base href="/">
        <title>Music Fly</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css" type="text/css" />
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" /> 
    </head>
    <body ng-controller="AppController">
        <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-93">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                        <span class="mbr-brand__logo"><a href="/"><img class="mbr-navbar__brand-img mbr-brand__img" src="img/logo.png" alt="Mobirise"></a></span>
                        <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="/">Music Fly</a></span>
                    </span>
                </div>
                <div class="mbr-navbar__hamburger mbr-hamburger text-white"><span class="mbr-hamburger__line"></span></div>
                <div class="mbr-navbar__column mbr-navbar__menu">
                    <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right ng-cloak">
                                <div class="mbr-navbar__column hidden-xs hidden-sm">
                                    <div class="form-group" style="display:inline;">
                                      <div class="input-group">
                                          <input type="text" class="form-control input-rounded" ng-model="search" placeholder="Search..." id="search-term" >
                                      </div>
                                    </div>
                                </div>
                                <div class="mbr-navbar__column">
                                    <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active">
                                            <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/">Home</a></li>
                                            <li ng-if="isAuth()" class="mbr-navbar__item hideLogout" ng-init="showhide('hideLogout')">
                                                <a href="/profile/{{ isAuth() }}" class="myprofile mbr-buttons__link btn text-white">Profile</a>
                                            </li>
                                    </ul>
                                </div>
                                <div class="mbr-navbar__column">
                                    <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active">
                                            <li ng-if="!isAuth()" class="mbr-navbar__item hideLogin" ng-init="showhide('hideLogin')">
                                                <a class="mbr-buttons__link btn text-white" href="/login">
                                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
                                                </a>
                                              </li>
                                              <li ng-if="!isAuth()" class="mbr-navbar__item hideLogin" ng-init="showhide('hideLogin')">
                                                <a href="/register" class="mbr-buttons__link btn text-white">
                                                    <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span> Register
                                                </a>
                                              </li>
                                              <li ng-if="isAuth()" class="mbr-navbar__item hideLogout" ng-init="showhide('hideLogout')">
                                                  <a href="#" ng-click="Logout();" class="mbr-buttons__link btn text-white">
                                                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                                                  </a>
                                              </li>
                                    </ul>       
                                </div>
                            </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-92" style="background-image: url(img/2.jpg);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption ng-cloak">
                        <h3>{{ rTitle }}</h3>
                        <div><p>{{ rDescription }}<br></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <div class="container">
          <div data-loading> </div>
<div ng-view></div>
        </div>
<section ng-if="contactShow" class="ng-cloak mbr-section mbr-section--relative move-down mbr-section--fixed-size" id="form1-89" style="background-color: rgb(239, 239, 239);">

    <div class="mbr-section__container mbr-section__container--std-padding container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">CONTACT FORM</h2>
                        </div>
                        <div data-form-alert="true"></div>
                        <form action="https://mobirise.com/" method="post" data-form-title="CONTACT FORM">
                            <input type="hidden" value="" data-form-email="true">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
                            </div>
                            <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-warning">CONTACT US</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            <div id="player">
                   <div class="row">
                	<div class="col-md-12">
                	       <div id="myElement">

                	       </div>
            	   </div>
        	   </div>
            </div>
    <div class="modal fade" id="nowPlayingModal" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Now Playing</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="now-playing-songs" class="col-md-12">

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center !important;">
              <button type="button" onclick="prev()" class="btn btn-default glyphicon glyphicon-backward"></button>
              <button type="button" onclick="next()" class="btn btn-default glyphicon glyphicon-forward"></button>
            </div>
          </div>

        </div>
  </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://content.jwplatform.com/libraries/Svy3pk2H.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>
        <script src="app/app.js"></script>

        <script src="app/controllers/controllers.js"></script>
        <script src="app/directives/spinner.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
