
{% extends sonata_block.templates.block_base %}

{% block block %}
    <!-- small box -->
   <div class="sonata-news-block-recent-post box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa {{ settings.icon }}"></i> Recent {{ settings.title }}
            </h3>
        </div>

        <div class="box-body">
            <div class="sonata-blog-post-container list-group">
                {% for playlist in playlists %}
                    <a class="list-group-item" href="/admin/app/{{ url| lower }}/{{ playlist.id }}/edit">
                        {% if playlist.private == false %}
                        <span class="label label-success">Public</span>
                        {% else %}
                        <span class="label label-danger">Private</span>
                        {% endif %}
                        &nbsp;
                        <strong>{{ playlist.name }}</strong> - <em>{{ playlist.user }}</em>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="box-footer">
                            <a href="/admin/app/{{ url| lower }}/list" class="btn btn-primary btn-block"><i class="fa fa-list"></i> View all playlists</a>
                    </div>
    </div>

{% endblock %}
